<<<<<<< HEAD
.booking-page1 {
=======
.booking-page {
>>>>>>> b2088b22ac606b449043eb4aa5429ca68ba996cb
    text-align: center;
    padding: 50px 20px;
}

<<<<<<< HEAD
.booking-title1 {
=======
.booking-title {
>>>>>>> b2088b22ac606b449043eb4aa5429ca68ba996cb
    font-size: 2.5rem;
    font-weight: bold;
    color: #005aa7;
    margin-bottom: 20px;
}

<<<<<<< HEAD
.booking-form1 {
=======
.booking-form {
>>>>>>> b2088b22ac606b449043eb4aa5429ca68ba996cb
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 90, 167, 0.3);
}

<<<<<<< HEAD
.submit-btn1 {
=======
.submit-btn {
>>>>>>> b2088b22ac606b449043eb4aa5429ca68ba996cb
    background: #005aa7;
    color: white;
    width: 100%;
    margin-top: 15px;
}

<<<<<<< HEAD
.submit-btn1:hover {
=======
.submit-btn:hover {
>>>>>>> b2088b22ac606b449043eb4aa5429ca68ba996cb
    background: #004080;
}
