.booking-page1 {
    text-align: center;
    padding: 50px 20px;
}

.booking-title1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #005aa7;
    margin-bottom: 20px;
}

.booking-form1 {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 90, 167, 0.3);
}

.submit-btn1 {
    background: #005aa7;
    color: white;
    width: 100%;
    margin-top: 15px;
}

.submit-btn1:hover {
    background: #004080;
}
