.fade-animation {
    transition: all 1.5s ease-in-out; /* Smooth Transition */
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0.3;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .zoom:hover {
    transform: scale(1.1); /* Zoom on hover */
    transition: transform 0.5s ease-in-out;
  }
  
  img {
    object-fit: cover;
    height: 200px; /* Fixed height */
    width: 100%; /* Full width */
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  