.carousel-container {
  width: 85%;
  margin: auto;
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.514);
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.carousel-card {
  width: 200px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid #005aa7;
  transition: transform 0.3s ease-in-out;
}

.carousel-card:hover {
  transform: scale(1.05);
}

.carousel-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Updated Overlay to Cover Entire Image */
.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 166, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-card:hover .carousel-overlay {
  opacity: 1;
}

/* Change text color on hover */
.carousel-overlay h3 {
  color: #fff;
  margin-bottom: 10px;
}

.carousel-overlay p {
  color: rgba(255, 166, 0, 0.9);
  font-size: 14px;
  line-height: 1.5;
}
